@import "bootstrap";

.navbar-custom {
    background-color: #0c1912;
}

#logo { 
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
 }

 .article-title {
     font-weight: bold;
     font-size: 1.5em;
 }

 .article-body {
     border-top: 1px solid #eaeaea;
     padding-top: 15px;
     padding-bottom: 15px;
 }


 .description {
     margin-top: 0;
 }

 #logo:hover {
     color: #fff;
     text-decoration: none;
 }

 .center {
     text-align: center;
 }

 .article-actions {
     border-top: 1px solid #eaeaea;
     padding-top: 5px;
 }

 .jumbotron {
     background-image: asset-url('image.jpeg');
     background-size: cover;
     height: 500px;
 }

 .jumbotron h1 {
     color: #24180b;
     text-align: center;
     margin-bottom: 15px;
     margin-top: 200px;
     letter-spacing: -1px;
     
 }

 .btn-xlarge {
     font-size: 1.7em;
     background-color: #3b2712;
 }

 .btn-xlarge:hover {
     background-color: #21160a;
     text-decoration: none;
 }

 .colour {
     color: gray;
 }

 .submitcustom {
     margin-left: 169px;
 }

 .heading_article {
     margin-left: 300px;
     margin-bottom: 30px;
 }

 #decription_custom {
     margin-right: 200px;
 }